*{
  padding: none;
  outline: none;
  margin: none;
}
h1{
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
}
h2{
  text-align: center;
  font-size: 1.6em;
  font-family: monospace;
}
form{
  text-align: center;
  margin-top: 20%;
}
input{
  font-size: 1.5em;
  border: none;
  border-bottom-width: thin;
  border-bottom-style: inset;
  padding: 4px;
  margin: 10px;
}
button{
  border-radius: 8px;
  padding: 6px;
  border: none;
  font-size: 1.5em;
  box-shadow: 1px 3px 3px rgba(33, 33, 33, .2);
}
